  <div class="hero-unit">
    <h1>Smoke Break</h1>
    <p>Smoking is cool again. A cigarette burns down throughout the song, and smoke puffs with the beat.</p>
    <canvas id="cigarette" width="800px" height="250px"></canvas>
	<div id="track"></div>
	<br/>
    <p><a class="btn primary large" href="/examples/rainbow">Next Example</a></p>
  </div>
  <script type="text/javascript" src="/cigarette.js"></script>
  <script>
  	// https://soundcloud.com/shumbody/easy
	SC.get('/tracks/33944603', function(track) {
		SC.oEmbed(
			track.uri, 
			{color: "ff7700", auto_play: true, maxheight: 166, show_comments: false, iframe: true}, 
			function(res) {
				document.getElementById('track').innerHTML = res.html;
				var el = document.getElementById('track').childNodes[0];
				window.initializeViz(el);
			}
		);
	});
  </script>