  <div class="hero-unit">
    <h1>Smoke Break</h1>
    <p>Smoking is cool again. A cigarette burns down throughout the song, and smoke puffs with the beat.</p>
    <canvas id="cigarette" width="800px" height="250px"></canvas>
    <object height="81" width="100%" id="customPlayer"> <param name="movie" value="https://player.soundcloud.com/player.swf?url=https%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F33944603&amp;auto_play=true&amp;color=ff7700&enable_api=true&object_id=customPlayer&show_comments=false"></param> <param name="allowscriptaccess" value="always"></param> <embed allowscriptaccess="always" height="81" src="https://player.soundcloud.com/player.swf?url=https%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F33944603&amp;show_comments=true&amp;auto_play=true&amp;color=ff7700&amp;show_comments=false" type="application/x-shockwave-flash" width="100%" name="customPlayer"></embed> </object>
    <p><a class="btn primary large" href="/examples/rainbow">Next Example</a></p>
  </div>
  <script type="text/javascript" src="/cigarette.js"></script>