<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Waveform.me - Custom HTML5 Canvas Visualzations for SoundCloud</title>
    <meta name="description" content="Custom HTML5 Canvas Visualzations for SoundCloud">
    <meta name="author" content="Kyle Powers">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link rel="stylesheet" href="/bootstrap.min.css">
    <style type="text/css">
      body {
        padding-top: 60px;
      }
    </style>
    <script src="/soundcloud.js"></script>
    <script type="text/javascript" src="https://w.soundcloud.com/player/api.js"></script>
    <script>
      SC.initialize({client_id:"18e6c4a8f18d42b1597ea4acb50270d0"});
    </script>
    <script type="text/javascript" src="/waveform.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  </head>

  <body>

    <div class="topbar" data-dropdown="dropdown">
      <div class="fill">
        <div class="container">
          <a class="brand" href="/">Waveform.me</a>
          <ul class="nav">
            <li><a href="/">Home</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle">Examples</a>
              <ul class="dropdown-menu">
                <li><a href="/examples/record">Turntable.am</a></li>
                <li><a href="/examples/cigarette">Smoke Break</a></li>
                <li><a href="/examples/rainbow">Double Rainbow</a></li>
              </ul>
            </li>
            <!-- <li><a href="/docs">Docs</a></li> -->
          </ul>
        </div>
      </div>
    </div>

    <div class="container">

      <%= yield %>

      <footer>
        <p>Made with love by <a href="http://kylepowers.com/" target="_blank">Kyle Powers</a></p>
      </footer>

    </div> <!-- /container -->

    <a href="https://github.com/mfkp/waveform.me" target="_blank"><img style="position: absolute; top: 0; right: 0; border: 0; z-index: 10001;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>

  	<script type="text/javascript" src="/bootstrap-dropdown.js"></script>
  	<script type="text/javascript">
  		$(function() {
  			$('#topbar').dropdown();
  		});
  	</script>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28992946-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

  </body>
</html>
