  <div class="hero-unit">
    <h1>Double Rainbow</h1>
    <p>A simple waveform visualizer, with a twist. The colors are random and fade throughout the track.</p>
    <canvas id="rainbow" width="800px" height="280px"></canvas>
    <object height="81" width="100%" id="customPlayer"> <param name="movie" value="http://player.soundcloud.com/player.swf?url=https%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F18804009&amp;auto_play=true&amp;color=ff7700&enable_api=true&object_id=customPlayer&show_comments=false"></param> <param name="allowscriptaccess" value="always"></param> <embed allowscriptaccess="always" height="81" src="http://player.soundcloud.com/player.swf?url=https%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F18804009&amp;show_comments=true&amp;auto_play=true&amp;color=ff7700&amp;show_comments=false" type="application/x-shockwave-flash" width="100%" name="customPlayer"></embed> </object>
    <p><a class="btn primary large" href="/examples/record">Next Example</a></p>
  </div>
  <script type="text/javascript" src="/rainbow.js"></script>