  <div class="hero-unit">
    <h1>Double Rainbow</h1>
    <p>A simple waveform visualizer, with a twist. The colors are random and fade throughout the track.</p>
    <canvas id="rainbow" width="800px" height="280px"></canvas>
    <div id="track"></div>
	<br/>
    <p><a class="btn primary large" href="/examples/record">Next Example</a></p>
  </div>
  <script type="text/javascript" src="/rainbow.js"></script>
  <script>
  	// https://soundcloud.com/deepsounds/sirius-by-happy-trailz-edm-com
	SC.get('/tracks/141539805', function(track) {
		SC.oEmbed(
			track.uri, 
			{color: "ff7700", auto_play: true, maxheight: 166, show_comments: false, iframe: true}, 
			function(res) {
				document.getElementById('track').innerHTML = res.html;
				var el = document.getElementById('track').childNodes[0];
				window.initializeViz(el);
			}
		);
	});
  </script>