  <div class="hero-unit">
    <h1>Turntable.am</h1>
    <p>This visualizer emulates a spinning record. The volume of the track determines how large it is. Album art is displayed in the center.
    A progress bar lines the outer rim.</p>
    <center><canvas id="record" width="300px" height="300px"></canvas></center>
    <object height="81" width="100%" id="customPlayer"> <param name="movie" value="https://player.soundcloud.com/player.swf?url=https%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F25545600&amp;auto_play=true&amp;color=ff7700&enable_api=true&object_id=customPlayer&show_comments=false"></param> <param name="allowscriptaccess" value="always"></param> <embed allowscriptaccess="always" height="81" src="https://player.soundcloud.com/player.swf?url=https%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F25545600&amp;show_comments=true&amp;auto_play=true&amp;color=ff7700&amp;show_comments=false" type="application/x-shockwave-flash" width="100%" name="customPlayer"></embed> </object>
	<p><a class="btn primary large" href="/examples/cigarette">Next Example</a></p>
  </div>
  <script type="text/javascript" src="/record.js"></script>