  <div class="hero-unit">
    <h1>Turntable.am</h1>
    <p>This visualizer emulates a spinning record. The volume of the track determines how large it is. Album art is displayed in the center.
    A progress bar lines the outer rim.</p>
    <center><canvas id="record" width="300px" height="300px"></canvas></center>
    <div id="track"></div>
	<br/>
	<p><a class="btn primary large" href="/examples/cigarette">Next Example</a></p>
  </div>
  <script type="text/javascript" src="/record.js"></script>
  <script>
  	// https://soundcloud.com/zedd/shaveit
	SC.get('/tracks/25545600', function(track) {
		SC.oEmbed(
			track.uri, 
			{color: "ff7700", auto_play: true, maxheight: 166, show_comments: false, iframe: true}, 
			function(res) {
				document.getElementById('track').innerHTML = res.html;
				var el = document.getElementById('track').childNodes[0];
				window.initializeViz(el);
			}
		);
	});
  </script>